body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #000;
}

h1 {
    font-size: 0.9em;
    font-weight: bold;
}

h2 {
    font-size: 0.7em;
    font-weight: bold;
}

h3 {
	font-size: 0.6em;
	font-weight: bold;
}

p {
    font-size: 0.6em;
}

/******* HEADER *******/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
}

header img {
    height: 65%;
    width: auto;
    padding-left: 40px;
}

nav {
    font-size: 0.7em;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 40px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    padding-top: 30px;
    color: #0065FC;
    border-top: 1.5px solid;
}

nav li:last-child a {
	color: #0065FC;
	font-weight: bold;
}

nav li:last-child a:hover {
	padding-top: 30px;
	color: #0065FC;
	border-top: 1.5px solid;
}

/******* MAIN *******/

main {
    width: 100%;
    padding-top: 10px;
}

/******* SEARCH SECTION *******/

#search {
    padding-left: 40px;
    margin-bottom: 30px;
}

#search p {
    padding-left: 0px;
}

form {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.location {
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    border: none;    
    padding: 10px 8px 9px 11px;
}

.fa-map-marker-alt {
    font-size: 1.1em;
}

#searchbar {
    border: 1px solid #f2f2f2;
    padding: 8px 0px 8px 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

#searchsubmit {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    color: #fff;
    height: 30px;
    padding: 0px 15px;
    margin-top: 4px;
}

#filter {
    display: flex;
    align-items: center;
}

#filter h2 {
    padding-left: 0px;
}

#filter ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 25px;
}

#filter ul li {
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 20px;
}

#filter li i {
    color: #0065FC;
    font-size: 1em;
}

#filter li a:hover {
    text-decoration: none;
    padding: 0px;
    color: #9fc4fb;
}

.txt {
    position: relative;
    border: 1.5px solid #f2f2f2;
    border-radius: 20px;
    padding: 7px 13px 7px 32px;
}

.ic {
    position: absolute;
    background-color: #DEEBFF;
    border-radius: 50%;
    top: -1px;
    left: -5px;
    width: 30px;
    height: 21px;
    text-align: center;
    padding-top: 8px;
}

#info {
    display: flex;
    align-items: baseline;
}

.fa-info {
    color: #0065FC;
    font-size: 0.5em;
    border-radius: 50%;
    border: 1px solid #0065FC;
    width: 9px;
    height: 11px;
    padding-left: 5px;
    padding-top: 3px;
}

#info p {
    padding-left: 10px;
}

/******* ACCOMMODATIONS SECTION *******/

#accommodations {
    display: flex;
    align-items: flex-start;
	padding-left: 40px;
	padding-right: 40px;
	justify-content: space-around;
}

#hosting {
    display: flex;
    flex-direction: column;
	flex: 3;
	background-color: #F2F2F2;	
	border-radius: 20px;
	padding: 25px 0px 10px 0px;
}

#hosting h1, h2 {
    padding-left: 35px;
	margin-top: 0px;
}

#hotels {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0px 15px;
}

#hotels a:hover {
    text-decoration: none;
	border:none;
	padding: 0px;
	color: inherit;
	opacity: 0.7;
}

article {
    background-color: white;
	border: 3px solid white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	margin-bottom: 25px;
	width: 220px;
}

article h2, p {
    padding: 0 0 0 10px;
	margin: 5px 0 0 0;
}

figure {
    width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
}

figure img {
    object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0;
}

.review {
    display: flex;
    padding: 6px 0 10px 10px;
}

.fa-star {
    color: #0065FC;
	font-size: 0.6em;
}

.grey {
    color: #F2F2F2;
}

/******* ASIDE *******/

aside {
    display: flex;
	flex-direction: column;
	flex: 1.2;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 10px 25px;
	margin-left: 30px;
}

#title {
    display: flex;
	align-items: baseline;
	justify-content: space-between;
}

#popular {
    display: flex;
	flex-direction: column;
}

#popular a:hover {
    text-decoration: none;
	border:none;
	padding: 0px;
	color: inherit;
	opacity: 0.7;
}

aside article {
    display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	margin-bottom: 20px;
	width: 100%;
	height: 109px;
}

aside figure {
    width: 110px;
	height: 100%;
	margin: 0;
	padding: 0;
}

aside figure img {
    object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px 0 0 20px;
}

aside .review {
    display: flex;
	padding: 55px 0 0 10px;
}

.description {
    display: flex;
	flex-direction: column;
}

/******* ACTIVITIES SECTION *******/

#activities {
	display: flex;
	flex-direction: column;
	margin: 30px 40px;
}

#places {
	display: flex;
	height: 445px;
	margin-bottom: 30px;
}

#places h3 {
	padding-left: 15px;
	padding-top: 10px;
	font-weight: bold;
}

#places a:hover {
    text-decoration: none;
	border:none;
	padding: 0px;
	color: inherit;
	opacity: 0.7;
}

.bigimage {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	margin-right: 43px;
	height: 100%;
	width: 303px;
}

.bigimage img {
	object-fit: cover;
	width: 100%;
	height: 390px;
	border-radius: 20px 20px 0 0;
}

.nature {
	display: flex;
	flex-direction: column;
	margin-right: 43px;
	height: 100%;
	width: 303px;
}

.fort {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	width: 100%;
	margin-bottom: 43px;
	height: 237px;
}

.fort img {
	object-fit: cover;
	width: 100%;
	height: 181px;
	border-radius: 20px 20px 0 0;
}

.island {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	width: 100%;
	height: 165px;
}

.island img {
	object-fit: cover;
	width: 100%;
	height: 110px;
	border-radius: 20px 20px 0 0;
}

.city {
	display: flex;
	flex-direction: column;
	width: 303px;
	height: 100%;
}

.church {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	width: 100%;
	margin-bottom: 39px;
	height: 196px;
}

.church img {
	object-fit: cover;
	width: 100%;
	height: 140px;
	border-radius: 20px 20px 0 0;
}

.parc {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #ccc;
	width: 100%;
	height: 210px;
}

.parc img {
	object-fit: cover;
	width: 100%;
	height: 155px;
	border-radius: 20px 20px 0 0;
}

/******* FOOTER *******/

footer {
	width: 100%;
	display: flex;
	align-items: flex-start;
	background-color: #F2F2F2;
	
}


.footerMenu {
	display: flex;
	flex-direction: column;
	font-size: 0.6em;
	margin: 30px 0px 20px 0px;
	width: 30%;
    padding-left: 40px;
}

.footerMenu h2 {
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 0px;
	 
}

.footerMenu ul {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	
}


.footerMenu li {
	border-style: none;
	padding-bottom: 5px; 

}

