body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  color: #000;
}

h1,
h2 {
  font-size: 0.9em;
  font-weight: bold;
}

h3 {
  font-size: 0.7em;
  font-weight: bold;
}

h4 {
  font-size: 0.6em;
  font-weight: bold;
}

p {
  font-size: 0.6em;
}

/******* HEADER *******/

header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}

header img {
  height: 65%;
  padding-left: 40px;
}

nav {
  font-size: 0.7em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 40px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  padding-top: 30px;
  color: #0065fc;
  border-top: 1.5px solid;
}

nav li:last-child a {
  color: #0065fc;
  font-weight: bold;
}

nav li:last-child a:hover {
  padding-top: 30px;
  color: #0065fc;
  border-top: 1.5px solid;
}

/******* MAIN *******/

main {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

/******* SEARCH SECTION *******/

#search {
  padding-left: 40px;
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

label {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 10px 8px 9px 11px;
}

.fa-map-marker-alt {
  font-size: 1.1em;
}

#searchbar {
  border: 1px solid #f2f2f2;
  padding: 8px 0 8px 8px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

#searchsubmit {
  height: 30px;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  color: #fff;
  padding: 0 15px;
}

form span {
  display: none;
}

#filter {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#filter h3 {
  padding-left: 0;
}

#filter ul {
  display: flex;
  list-style-type: none;
}

#filter ul li {
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 20px;
}

#filter li i {
  color: #0065fc;
  font-size: 1em;
}

#filter li a:hover {
  text-decoration: none;
  color: #0065fc;
  text-transform: uppercase;
  font-weight: bold;
}

.txt {
  position: relative;
  height: 14px;
  border: 1.5px solid #f2f2f2;
  border-radius: 20px;
  padding: 7px 13px 7px 33px;
}

.ic {
  position: absolute;
  top: 0;
  left: -3px;
  width: 30px;
  height: 21px;
  background-color: #deebff;
  border-radius: 50%;
  border-style: none;
  text-align: center;
  padding-top: 8px;
}

#info {
  display: flex;
  align-items: baseline;
}

.fa-info {
  width: 9px;
  height: 11px;
  color: #0065fc;
  font-size: 0.5em;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  padding-left: 5px;
  padding-top: 3px;
}

#info p {
  padding-left: 10px;
}

/******* ACCOMMODATIONS SECTION *******/

#accommodations {
  display: flex;
  padding: 0 40px;
}

#hosting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0;
}

#hosting h2,
h3 {
  padding-left: 45px;
  padding-top: 5px;
  margin-top: 0;
}

#hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

#hotels a:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}

article {
  width: 200px;
  height: 150px;
  background-color: white;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 25px;
}

article h4 {
  padding: 5px 0 0 10px;
  margin: 5px 0 0 0;
}

article p {
  padding: 0 0 0 10px;
  margin: 5px 0 0 0;
}

figure {
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.review {
  display: flex;
  padding: 6px 0 10px 10px;
}

.fa-star {
  color: #0065fc;
  font-size: 0.6em;
  padding-right: 1px;
}

.grey {
  color: #f2f2f2;
}

/******* ASIDE *******/

aside {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 30px 10px 25px;
  margin-left: 30px;
}

#title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 20px;
}

#popular {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

#popular a:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}

aside article {
  display: flex;
  width: 100%;
  height: 110px;
  background-color: white;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 20px;
}

aside figure {
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
}

aside figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.description {
  display: flex;
  flex-direction: column;
  position: relative;
}

aside .review {
  display: flex;
  position: absolute;
  top: 90px;
}

/******* ACTIVITIES SECTION *******/

#activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

#activities h2 {
  padding-left: 40px;
  margin-top: 50px;
}

#places {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 60px 0;
  padding: 0 15px;
}

#places h4 {
  padding-left: 15px;
  padding-top: 5px;
}

#places a:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  color: inherit;
  opacity: 0.7;
}

.bigimage {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
}

.bigimage img {
  object-fit: cover;
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
}

.nature {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fort {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 237px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 43px;
}

.fort img {
  object-fit: cover;
  width: 100%;
  height: 181px;
  border-radius: 20px 20px 0 0;
}

.island {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 165px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
}

.island img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
}

.national {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
}

.national img {
  object-fit: cover;
  width: 100%;
  height: 390px;
  border-radius: 20px 20px 0 0;
}

.city {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.church {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 196px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
  margin-bottom: 39px;
}

.church img {
  object-fit: cover;
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
}

.parc {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 210px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #ccc;
}

.parc img {
  object-fit: cover;
  width: 100%;
  height: 155px;
  border-radius: 20px 20px 0 0;
}

/******* FOOTER *******/

footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: auto;
  background-color: #f2f2f2;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px 0;
  padding-left: 40px;
  width: 30%;
}

.footerMenu h3 {
  padding-left: 0;
}

.footerMenu ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  font-size: 0.6em;
}

.footerMenu li {
  border-style: none;
  padding-bottom: 10px;
}

/******* MEDIA QUERIES *******/

/**** MOBILE ****/

@media all and (max-device-width: 480px) {
  header {
    width: auto;
  }

  nav {
    flex-wrap: wrap-reverse;
  }

  main {
    width: auto;
  }

  #filter {
    width: auto;
    flex-wrap: wrap;
  }

  #filter ul {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0px;
  }

  #accommodations {
    width: auto;
    flex-direction: column-reverse;
  }

  #activities {
    width: auto;
    justify-content: center;
  }

  .bigimage {
    width: auto;
    height: 100px;
  }

  .bigimage img {
    width: 100%;
    height: 80px;
  }

  .nature {
    width: auto;
    height: 200px;
  }

  .fort {
    width: 100%;
    height: 100px;
  }

  .fort img {
    width: 100%;
    height: 80px;
  }

  .island {
    width: 100%;
    height: 100px;
  }

  .island img {
    width: 100%;
    height: 80px;
  }

  .city {
    width: auto;
    height: 200px;
  }

  .church {
    width: 100%;
    height: 100px;
  }

  .church img {
    width: 100%;
    height: 80px;
  }

  .parc {
    width: 100%;
    height: 100px;
  }

  .parc img {
    width: 100%;
    height: 80px;
  }

  aside {
    width: auto;
  }

  #activities {
    width: auto;
  }

  #places {
    flex-direction: column;
  }

  footer {
    width: auto;
    flex-direction: column;
    margin: 0px;
  }
}
